<nav>
  {{#if session.isAuthenticated}}
    <a {{action 'logout'}}>Logout</a>
    {{#if me.name}}
      <p>Signed in as {{me.name}}</p>
    {{/if}}
  {{else}}
    <a {{action 'login'}}>Login</a>
  {{/if}}
</nav>
