<nav>
  {{#if session.isAuthenticated}}
    <a {{action 'logout'}}>Logout</a>
    {{#if sessionAccount.account}}
      <p>Signed in as {{sessionAccount.account.name}}</p>
    {{/if}}
  {{else}}
    <a {{action 'login'}}>Login</a>
  {{/if}}
</nav>
