<form class="ui form" {{action "submit" on="submit"}}>
  <div class="field">
    {{input id="title" type="text" name="title" placeholder="Title" value=proposal.title class="title"}}
  </div>
  <div class="field">
    {{textarea id="body" name="body" placeholder="Proposal" value=proposal.body class="body"}}
  </div>
  <button class="ui button" type="submit">Save</button>
</form>
