header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $base-body-color;
  $navigation-height: 60px;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  // Nav menu

  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  .logo {
    float: left;    
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 3em;
    font-weight: 700;
    font-size: 1.3em;
    line-height: $navigation-height;
  }

  ul#navigation-menu {    
    -webkit-transform-style: preserve-3d; 
    // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  
  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;


    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      // color: $navigation-color;
      display: inline-block;
      font-weight: 700;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      // &:hover {
      //   color: $navigation-color-hover;
      // }
    }
  }

  // .active-nav-item a {
  //   border-bottom: 1px solid $navigation-active-link-color;
  //   padding-bottom: 3px;
  // }
}