<div class="ui relaxed list">
  {{#each model as |proposal|}}
  <div class="item">
    <!-- soon <img class="ui avatar image" src="/images/avatar/small/daniel.jpg"> -->
    <div class="content">
      <a class="header">{{proposal.author.name}}:</a>
      <div class="description">{{proposal.title}}</div>
    </div>
  </div>
  {{/each}}
</div>
