<div class="ui relaxed list">
  {{#each model as |proposal|}}
  <div class="item">
    <!-- soon <img class="ui avatar image" src="/images/avatar/small/daniel.jpg"> -->
    <div class="content">
      {{#link-to 'proposals.details' proposal.id}}{{proposal.title}}{{/link-to}}
      <div class="description">By {{proposal.author.name}}</div>
    </div>
  </div>
  {{/each}}
</div>
