<form class="ui form">
  <div class="field">
    <input type="text" name="title" placeholder="Title">
  </div>
  <div class="field">
    <textarea name="body" placeholder="Proposal"></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
