<div class="ui container very padded text">
{{#if session.isAuthenticated}}
  {{#unless isLoginRoute}}
  <h1 class='ui header' id="title">Participate</h1>

  <div class="ui secondary  menu">
    {{#link-to 'dashboard' class='item'}}Dashboard{{/link-to}}
    {{#link-to 'proposals.new' class='item'}}New proposal{{/link-to}}
    <div class="right menu">
      <div class="ui item">
        <a class="item">Signed in as : {{session.me.name}}</a>
        <a {{ action 'invalidateSession' }}>Logout</a>
      </div>
    </div>
  </div>
  {{/unless}}
{{/if}}

{{outlet}}

</div>

