<div class="ui container very padded text">
  <h1 class='ui header' id="title">Participate</h1>

  <div class="ui secondary  menu">
    {{#if session.isAuthenticated}}
      {{#link-to 'dashboard' class='item'}}Dashboard{{/link-to}}
      {{#link-to 'proposals.new' class='item'}}New proposal{{/link-to}}
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
    <div class="right menu">
      <div class="ui item">
        {{#if session.isAuthenticated}}
           <a class="item">Signed in as : {{session.me.name}}</a>
          <a {{ action 'invalidateSession' }}>Logout</a>
        {{/if}}
      </div>
    </div>
  </div>

  {{outlet}}

</div>
