<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form">
      <div class="ui segment">
        <h2 class="ui header">
          <div class="content">
            Participate App
          </div>
        </h2>
         <div {{ action 'authenticate' }} class="ui fluid large teal submit button">
          Login with Facebook
        </div>
      </div>

      <div class="ui error message"></div>
    </form>
  </div>
</div>
<style type="text/css">
  body > .grid {
    height: 100%;
  }
  .column {
    margin-top: 170px;
    max-width: 450px;
  }
</style>

